In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/diabetes_binary_5050split_health_indicators_BRFSS2015.csv')
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3.0,5.0,30.0,0.0,1.0,4.0,6.0,8.0
1,0.0,1.0,1.0,1.0,26.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,3.0,0.0,0.0,0.0,1.0,12.0,6.0,8.0
2,0.0,0.0,0.0,1.0,26.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,1.0,0.0,10.0,0.0,1.0,13.0,6.0,8.0
3,0.0,1.0,1.0,1.0,28.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,3.0,0.0,3.0,0.0,1.0,11.0,6.0,8.0
4,0.0,0.0,0.0,1.0,29.0,1.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,8.0,5.0,8.0

In [38]:
for i in df.columns:
  if i != 'BMI': df[i] = df[i].astype('int64')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  int64
 1   HighBP                70692 non-null  int64
 2   HighChol              70692 non-null  int64
 3   CholCheck             70692 non-null  int64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  int64
 6   Stroke                70692 non-null  int64
 7   HeartDiseaseorAttack  70692 non-null  int64
 8   PhysActivity          70692 non-null  int64
 9   Fruits                70692 non-null  int64
 10  Veggies               70692 non-null  int64
 11  HvyAlcoholConsump     70692 non-null  int64
 12  AnyHealthcare         70692 non-null  int64
 13  NoDocbcCost           70692 non-null  int64
 14  GenHlth               70692 non-null  int64
 15  MentHlth              70692 non-null  int64
 16  PhysHlth              70692 non-null  int64
 17  DiffWalk              70692 non-null  int64
 18  Sex                   70692 non-null  int64
 19  Age                   70692 non-null  int64
 20  Education             70692 non-null  int64
 21  Income                70692 non-null  int64
dtypes: float64(1), int64(21)
memory usage: 11.9 MB

In [39]:
for i in ['HighBP','HighChol','CholCheck','Smoker','Stroke','HeartDiseaseorAttack','PhysActivity','Fruits','Veggies','HvyAlcoholConsump','AnyHealthcare','NoDocbcCost','DiffWalk']:
    df = df.replace({i: {0: 'No', 1: 'Yes'}})

In [45]:
AGE5YR = ['Age 18-24','Age 25-29','Age 30-34','Age 35-39','Age 40-44','Age 45-49','Age 50-54','Age 55-59','Age 60-64','Age 65-69','Age 70-74','Age 75-79','Age 80 or older']
EDUCA = ['Never attended school or only kindergarten','Grades 1 through 8 (Elementary)','Grades 9 through 11 (Some high school)','Grade 12 or GED (High school graduate)','College 1 year to 3 years (Some college or technical school)','College 4 years or more (College graduate)']
INCOME2 = ['less than $10,000','less than $15,000','less than $20,000','less than $25,000','less than $35,000','less than $50,000','less than $70,000','less than $75,000 or more']

In [50]:
df = df.replace({'Diabetes_binary': {0: 'No Diabetes', 1: 'Pre-Diabetes'}})

In [41]:
df = df.replace({'Sex': {0: 'Female', 1: 'Male'}})

In [42]:
df = df.replace({'GenHlth': {1:'Excelent',2:'VeryGood',3:'Good',4:'Fair',5:'Poor'}})

In [43]:
for i,x in enumerate(AGE5YR):
    df = df.replace({'Age':{i+1:x}})

In [46]:
for i,x in enumerate(EDUCA):
    df = df.replace({'Education':{i+1:x}})

In [48]:
for i,x in enumerate(INCOME2):
    df = df.replace({'Income':{i+1:x}})

In [51]:
df.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,No Diabetes,Yes,No,Yes,26.0,No,No,No,Yes,No,...,Yes,No,Good,5,30,No,Male,Age 35-39,College 4 years or more (College graduate),"less than $75,000 or more"
1,No Diabetes,Yes,Yes,Yes,26.0,Yes,Yes,No,No,Yes,...,Yes,No,Good,0,0,No,Male,Age 75-79,College 4 years or more (College graduate),"less than $75,000 or more"
2,No Diabetes,No,No,Yes,26.0,No,No,No,Yes,Yes,...,Yes,No,Excelent,0,10,No,Male,Age 80 or older,College 4 years or more (College graduate),"less than $75,000 or more"
3,No Diabetes,Yes,Yes,Yes,28.0,Yes,No,No,Yes,Yes,...,Yes,No,Good,0,3,No,Male,Age 70-74,College 4 years or more (College graduate),"less than $75,000 or more"
4,No Diabetes,No,No,Yes,29.0,Yes,No,No,Yes,Yes,...,Yes,No,VeryGood,0,0,No,Female,Age 55-59,College 1 year to 3 years (Some college or tec...,"less than $75,000 or more"

In [54]:
df.to_csv('diabetes_binary_5050split_decode.csv',index=False)

In [2]:
from sklearn.model_selection import train_test_split

In [6]:
train,test = train_test_split(df,test_size=0.2,random_state=0)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56553 entries, 806 to 68268
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       56553 non-null  float64
 1   HighBP                56553 non-null  float64
 2   HighChol              56553 non-null  float64
 3   CholCheck             56553 non-null  float64
 4   BMI                   56553 non-null  float64
 5   Smoker                56553 non-null  float64
 6   Stroke                56553 non-null  float64
 7   HeartDiseaseorAttack  56553 non-null  float64
 8   PhysActivity          56553 non-null  float64
 9   Fruits                56553 non-null  float64
 10  Veggies               56553 non-null  float64
 11  HvyAlcoholConsump     56553 non-null  float64
 12  AnyHealthcare         56553 non-null  float64
 13  NoDocbcCost           56553 non-null  float64
 14  GenHlth               56553 non-null  float64
 15  MentHlth              56553 non-null  float64
 16  PhysHlth              56553 non-null  float64
 17  DiffWalk              56553 non-null  float64
 18  Sex                   56553 non-null  float64
 19  Age                   56553 non-null  float64
 20  Education             56553 non-null  float64
 21  Income                56553 non-null  float64
dtypes: float64(22)
memory usage: 9.9 MB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14139 entries, 34746 to 49908
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       14139 non-null  float64
 1   HighBP                14139 non-null  float64
 2   HighChol              14139 non-null  float64
 3   CholCheck             14139 non-null  float64
 4   BMI                   14139 non-null  float64
 5   Smoker                14139 non-null  float64
 6   Stroke                14139 non-null  float64
 7   HeartDiseaseorAttack  14139 non-null  float64
 8   PhysActivity          14139 non-null  float64
 9   Fruits                14139 non-null  float64
 10  Veggies               14139 non-null  float64
 11  HvyAlcoholConsump     14139 non-null  float64
 12  AnyHealthcare         14139 non-null  float64
 13  NoDocbcCost           14139 non-null  float64
 14  GenHlth               14139 non-null  float64
 15  MentHlth              14139 non-null  float64
 16  PhysHlth              14139 non-null  float64
 17  DiffWalk              14139 non-null  float64
 18  Sex                   14139 non-null  float64
 19  Age                   14139 non-null  float64
 20  Education             14139 non-null  float64
 21  Income                14139 non-null  float64
dtypes: float64(22)
memory usage: 2.5 MB

In [ ]:
train.to_csv('diabetes_binary_train.csv',index=False)

In [ ]:
test.to_csv('diabetes_binary_test.csv',index=False)